# Dependencies
node_modules
/.pnp
.pnp.js
.yarn
.yarnrc.yml
yarn.lock
package-lock.json
**/*.bun

# Build outputs
/build
/dist
/.next
/out

# Environment and local files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
docker.env

# Logs and debugging
logs/
/src/logs/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# Testing and coverage
/coverage
.nyc_output
/test
k6

# Version control
.git
.github
.gitignore

# Docker
.dockerignore
Dockerfile

# IDE and system files
.vscode
.DS_Store
*.pem

# Documentation
*.md

# Archives
**/*.trace
**/*.zip
**/*.tar.gz
**/*.tgz

# Misc
.vercel
.vscode/
